<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Traffic Violations - Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Leaflet JS & CSS -->
    <!-- Leaflet-Choropleth JavaScript -->
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>    
    <script type="text/javascript" src="static/js/choropleth.js"></script>
    <!-- Plotly js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

  </head>
  <body>
    <div class="container" style="background-color:white;">
      <nav class="navbar ">
            <h1 style="font-size:42px;font-weight: bold; text-align: center">Dashboard - Traffic Violations</h1>
            <!-- <ul class="nav justify-content-end">
                                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" 
                    aria-haspopup="true" aria-expanded="false" style="color:white">Goto Section</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#latest_news">Latest News</a>
                      <a class="dropdown-item" href="#featured_img">Featured Image</a>
                      <a class="dropdown-item" href="#curr_wthr">Current Weather</a>
                      <a class="dropdown-item" href="#mars_profile">Mars Profile</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#mars_hemis">View Mars Hemispheres</a>
                    </div>
                  </li>
              </ul> -->
      </nav>
      <div class="row">
          <div class = "col-xs-12 col-sm-12 col-md-12" style = "background-color: #e3e3e3">
            <div class="form-group" style="font-size:12px"> 
            <form><ul class="list-inline" id="filters">
                <li class="list-inline-item">
                <label for="year">Select a Year</label>
                <select type="select" id="years" name="years">
                  <option value = "0" >All years</option>
                </select>
                </li>
                <li class="list-inline-item">
                <label for="policedist">Select a Police District</label>
                <select type="select" id="district" name="district">
                    <option value = "0">All Districts</option>
                </select>
              </li>
              <li class="list-inline-item">
                <label for="violCat">Select a Violation Category</label>
                <select type="select" id="category" name="category">
                    <option value = "all">All Categories</option>
                </select>
              </li>
            </ul></div> 
            <button id="filter-btn" type="submit" class="btn btn-default" 
            style="font-size:12px; background-color: steelblue;color:white;">Filter</button>
            
            <button id="clear-filter-btn" type="submit" class="btn btn-default" 
            style="font-size:12px; background-color: steelblue; color:white">Reset</button>
          </form>
            </div>
          </div>
        <div class="row">
        <div class= "col-xs-12 col-sm-12 col-md-4">
            <div class="card" style = "border:none;margin:1rem 0 0 0;" >
                <div class="card-header"  style = "border:none;margin:1rem 0 0 0;">
                    <h3><strong>Violation Heatmap</strong></h3>
                </div>
                <!-- map div -->
                <div id="map"></div>
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                      
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="card" style = "border:none;margin:1rem 0 0 0;height:60%;font-size:10px;" >
              <div class="card-header"  style = "border:none;margin:1rem 0 0 0;">
                  <h3><strong>Violations by District</strong></h3>
              </div>
              <!-- bar chart displaying violation by district-->
              <div id="distSpread"></div>
              <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
              <div class="card-body">
                    
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class= "col-xs-12 col-sm-12 col-md-12">
            <div class="card" style = "border:none;margin:1rem 0 0 0;" >
                <div class="card-header"  style = "border:none;margin:1rem 0 0 0;">
                    <h3><strong>Trend of Violations over years</strong></h3>
                </div>
                <!-- map div -->
                <div id="boxPlot"></div>
                <div id="bubble"></div>
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                      
                </div>
            </div>
        </div>
        </div>

    </div>
    
    <!-- API key -->
    <script type="text/javascript" src="static/js/config.js"></script>
    
    <!-- BOOTSTRAP SCRIPT  -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <!-- D3 & Plotly -->
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  

    <!-- custom JS  -->
    
    <script type="text/javascript" src="static/js/main.js"></script>
    
  </body>
</html>
