<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Traffic Violations - Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Leaflet JS & CSS -->
    <!-- Leaflet-Choropleth JavaScript -->
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>    
    <script type="text/javascript" src="static/js/choropleth.js"></script>
    <!-- Plotly js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- reference stylesheet-->
    <link rel="stylesheet" href="../static/css/Styles1.css" media="screen">

  </head>

  <body>
        <div class="description-content-alt">
                <h1 text-align=center class="description-header-alt">WHO HATES TRAFFIC TICKETS</h1>
        </div>
    <div class = "container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7" style="padding:1px">
                <!-- Start of Static container -->
    <div class="container-fluid">
            <!-- start of static portion -->
            <section class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <article class="description-content">
                  <!-- <h1 text-align=center class="description-header">WHO HATES TRAFFIC TICKETS</h1>
                  <hr class="description-hr"/> -->
                  <div id="staticplots-1">
                    <div class="h-50 row">
                      <div class="col-xs-6 col-sm-6 col-md-6"><div id="YOYchange">
                        <img src="../static/imgs/plot1.png" alt="" id="description-image"/></div>
                    </div>
                      <div class="col-xs-6 col-sm-6 col-md-6"><div id="boxPlot"></div>  </div>
                    </div>
                      
                    </div>
                  <p>Water is Life and is fundermental to human health and survival. Securing access to safe drinking water for all would go a long way to reducing illness and death.</p>
                  <div id="staticplot-2">
                        <div id="ContribYOY"></div>
                      <img src="../static/imgs/plot2.png" alt="" id="description-image" style="width:55%" align="right"/>
                    </div>
                  <p>In this study, we will be looking at the correlation between Gross Domestic Product (GDP) and Water. We are seeking to find if contries with a high GDP have better drinking water than countries with a lower GDP .</p>
                </article>
              </div>
              </section>
          </div>
              <!-- End of Static portion -->
      
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5" style="padding:1px">
                <!-- Start of Dynamic Portion -->
                <article class="description-content"> 
                    <div class="container-fluid" style="background-color:white;">                 
                    
                    <!-- <h2 style="font-size:32px;font-weight: bold; text-align: center"  
                    class="description-header">Dashboard - Traffic Violations</h2> -->
                    
            <section class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group" style="font-size:12px; border-width: 1px;"> 
                        <form>  
                            <ul class="list-inline" id="filters">
                            <li class="list-inline-item">
                            <label for="year">Filter By</label>
                            </li>
                            <li class="list-inline-item"></li>
                            <select type="select" id="years" name="years">
                              <option value = "0" >All years</option>
                            </select>
                            </li>
                            <li class="list-inline-item">
                            <!-- <label for="policedist">Select a Police District</label> -->
                            <select type="select" id="district" name="district">
                                <option value = "0">All Districts</option>
                            </select>
                          </li>
                          <li class="list-inline-item">
                            <!-- <label for="violCat">Select a Violation Category</label> -->
                            <select type="select" id="category" name="category">
                                <option value = "all">All Categories</option>
                            </select>
                          </li>
                          <li class="list-inline-item">
                            <button id="filter-btn" type="submit" class="btn btn-sm" 
                style="font-size:10px; background-color: steelblue;color:white;">Filter</button>
                
                <button id="clear-filter-btn" type="submit" class="btn btn-default" 
                style="font-size:10px; background-color: steelblue; color:white">Reset</button>
                        </li>
                       </ul>
                    </div>
                    <hr/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                      <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <h5><strong>Violation Heatmap</strong></h5>
                          <div class="card" style = "border:none;margin:1rem 0 0 0;width:100%" >                          
                            
                            <!-- map div -->
                            <div id="map"></div>
                            <!-- <img class="card-img-top" src="../static/imgs/map.PNG" alt="Card image cap"> -->
                            <div class="card-body">
                                  
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6">
                          <div class="card" style = "border:none;margin:1rem 0 0 0;height:60%;font-size:10px;" >
                            <!-- <div class="card-header"  style = "border:none;margin:1rem 0 0 0;">
                                <h3><strong>Violations by District</strong></h3>
                            </div> -->
                            <h5><strong>Violations by District</strong></h5>
                            <!-- bar chart displaying violation by district-->
                            <div id="distSpread"></div>
                            <img class="card-img-top" src="../static/imgs/plot3.PNG" alt="Card image cap" style="width:80%">
                            <div class="card-body">
                                  
                            </div>
                        </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6">
                          <div class="card" style = "border:none;margin:1rem 0 0 0;height:60%;font-size:10px;" >
                            <!-- <div class="card-header"  style = "border:none;margin:1rem 0 0 0;">
                                <h3><strong>Violations by Category</strong></h3>
                            </div> -->
                            <h5><strong>Violations by Category</strong></h5>
                            <!-- bar chart displaying violation by district-->
                            <div id="violationCat"></div>
                            <img class="card-img-top" src="../static/imgs/plot3.PNG" alt="Card image cap">
                            <div class="card-body">
                                  
                            </div>
                        </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6">
                          <div class="card" style = "border:none;margin:1rem 0 0 0;height:60%;font-size:10px;" >
                            <!-- <div class="card-header"  style = "border:none;margin:1rem 0 0 0;">
                                <h3><strong>Violations by Issued Type</strong></h3>
                            </div> -->
                            <h5><strong>Violations by Issued Type</strong></h5>
                            <!-- bar chart displaying violation by district-->
                            <div id="violationType"></div>
                            <img class="card-img-top" src="../static/imgs/plot3.PNG" alt="Card image cap">
                            <div class="card-body">
                                  
                            </div>
                        </div>
                        </div>
                      </div>
                    </div>
    
                      <div class="col-md-5">
                        <div id="pie"></div>
                      </div>
                      <div class="col-md-5">
                        <div id="gauge"></div>
                      </div>
                    </div>
                  </div>
            </section>
            </article>
                  <div class="row">
                    <div class="col-md-12">
                      <div id="bubble"></div>
                    </div>
                  </div>
                
                  </div>
            </div>
        </div>
    <!-- </div> -->
    
        <!-- </div>
      </section>
    </div> -->
    <!-- <div class="row"> -->
      <!-- <div class= "col-xs-12 col-sm-12 col-md-6">
          <div class="card" style = "border:none;margin:1rem 0 0 0;" >
              <div class="card-header"  style = "border:none;margin:1rem 0 0 0;">
                  <h3><strong>Violation Heatmap</strong></h3>
              </div>
              <!-- map div -->
              <!-- <div id="map"></div> -->
              <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
              <!-- <div class="card-body">
                    
              </div> -->
          <!-- </div> -->
      <!-- </div> --> 
    <!-- </div> -->
    <!-- End of container --> 


    <!-- API key -->
    <script type="text/javascript" src="static/js/config.js"></script>
    
    <!-- BOOTSTRAP SCRIPT  -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <!-- D3 & Plotly -->
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  

    <!-- custom JS  -->
    
    <script type="text/javascript" src="static/js/main.js"></script>
</body>

</html>